.category-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.category-section{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}
.category-section h2 {
    margin-top: 0;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
.section-header h2 {
    color:black;
}
@media screen and (min-width:900px) {
    .category-section{
        width: 80%;
    }
}
@media screen and (min-width:1600px) {
    .category-section{
        width: 70%;
    }
}

@media screen and (min-width:2000px) {
    .category-section{
        width: 60%;
    }
}