.recipe-page-container {
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding-bottom: 20px;
  max-width: 80rem;
  width: 100%;
  margin: 3rem auto;
}

@media (max-width: 600px) {
  .recipe-page-container {
    margin: 0 auto;
  }
}
