.container {
  position: relative;
}

.sidebar {
  position: absolute;
  display:flex;
  flex-direction: column;
  left: -110vw; 
  width: 100vw;
  background-color: #333;
  background-color: rgb(255, 255, 240);
  transition: left 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);

  border-bottom-right-radius: 10px;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.sidebar.active {
  left: -1rem;
}

@media screen and (min-width: 600px) {
  .sidebar{
      width: 15rem;
  }
}