
  .categori-container {
    position: relative;
    width: 70%;
  }
  
  .sidebar {
    position:absolute;
    display:flex;
    flex-direction: column;
    left: -110vw; 
    width: 100vw;
    height: 80vh;
    background-color: #333;
    /* background-color: rgb(255, 255, 240); */
    background-color: #FFFFFF;
    transition: left 0.3s ease;
    z-index: 1000;
    margin-top: 0.5rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    overflow-y: auto;
  }
  
  .sidebar-item {
    padding: 0.5rem;
    padding-left: 1.5rem;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    color: black;
    
    transition: background-color 0.3s ease
  }
  .sidebar-item:hover{
    background-color: #b3b39a;
  }
  
  .sidebar.active {
    left: -0.5rem;
   
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  @media screen and (min-width: 600px) {
    .sidebar{
        width: 15rem;
        border-bottom-right-radius: 10px;
    }
  }

  
.category-menu {
    display: flex;
    overflow: hidden; 
    width: 100%; 
    max-width: 100%; 
    position: relative;
}

.category-list {
    display: flex;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    white-space: nowrap; 
    /* margin-left: 5px;
    margin-right: 5px; */
    padding: 10px;
    flex-grow: 1;
    max-width: 100%; 
}

.category-item {
    display:flex;
    padding: 5px 10px;
    text-decoration: none; 
    color: #333;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    display: inline-block; 
}

.category-item:hover {
    background-color: #b3b39a; 
}

.scroll-button {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    /* font-size: 20px;
    margin: 0 5px; */
}

.category-menu:hover  .scroll-button {
  display:block;
  background:none;
  border:none;

}

.scroll-button.left {
    margin-right: 5px;
    left: 0;
}

.scroll-button.right {
    margin-left: 5px;
    right: 0;
}

.category-list::-webkit-scrollbar {
    display: none;
}

  