.sidebar-container {
  position: relative;
}

.sidebar {
  position:absolute;
  display:flex;
  flex-direction: column;
  left: -110vw; 
  width: 100vw;
  background-color: #333;
  background-color: rgb(255, 255, 240);
  transition: left 0.3s ease;
  z-index: 1000;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.sidebar a {
  padding: 1rem;
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  display: block;
  transition: background-color 0.3s ease
}
.sidebar a:hover{
  background-color: #b3b39a;
}

.sidebar.active {
  left: -1rem;
}
.overlay {
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

@media screen and (min-width: 600px) {
  .sidebar{
      width: 15rem;
      border-bottom-right-radius: 10px;
  }
}