ul {
  list-style-type: none;
  padding-left: 0;
}

li.checked {
  opacity: 0.7;
  text-decoration: line-through;
}

li input[type="checkbox"] {
  appearance: none; 
  width: 1.5rem; 
  height: 1.5rem;
  border: 2px solid green; 
  border-radius: 1rem;
  margin-right: 0.5rem; 
  cursor: pointer;
  position: relative; 
  flex-shrink: 0; 
}

li input[type="checkbox"]:checked {
  background-color: green;
}

li input[type="checkbox"]:checked::after {
  content: ''; 
  position: absolute;
  left: 7px; 
  top: 3px; 
  width: 5px; 
  height: 10px; 
  border: solid white; 
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); 
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  box-sizing: border-box;
}

.recipe-details-category-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  box-sizing: border-box;
  gap: 1rem;
}

.recipe-details-category {
  border: solid 1px grey;
  border-radius: 1rem;
  background-color: rgb(255, 251, 251);
  padding: 0.5rem;
  font-size: 1.1em;
}

.recipe-details-image {
  height: auto;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-width: 50%;
  flex: 1;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.recipe-details-title {
  font-size: 2.5rem;
  /* text-align: center; */
  margin-bottom: 1.5rem;
}

.recipe-details-top-right{
  flex: 1;
  padding: 0 2rem;
  max-width: 50%;
  width: auto;
  box-sizing: border-box;
}

.recipe-details-description {
  font-size: 1.25rem;
  /* text-align: center; */
}

.recipe-details-time-rating h3 {
  margin: 0 auto;
  text-align: center;
}

.recipe-details-time-rating {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 6rem;
}
.icon-container {
  font-size: 0.8rem;
}

.recipe-icon{
  width: 1.5rem;
  height: 1.5rem;
}
.recipe-details-ingredients,
.recipe-details-instructions {
  flex: 1;
  margin-bottom: 2rem;
  padding: 0 1.25rem;
}

.ingredients-instructions-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem;
}

.recipe-details-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 240);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.recipe-details-ingredients li,
.recipe-details-instructions li {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  display: flex; 
  align-items: center; 
  margin: 1rem 0;
}

.recipe-details-instructions li {
  align-items: flex-start;
}

@media (max-width: 800px) {
  .recipe-details-title {
    font-size: 1.75rem;
  }

  .recipe-details-top {
    flex-direction: column;
    margin: 0;
  }

  .recipe-details-top-right {
   max-width: 100%;
   width: 100%;
  }

  .recipe-details-description {
    font-size: 1rem;
  }
  
  .recipe-details-time-rating h2 {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 1.25rem;
  }

  .ingredients-instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -1rem;
  }

  .recipe-details-ingredients li,
  .recipe-details-instructions li {
    font-size: 1rem;
    padding: 0 2rem;
  }
  .recipe-details-ingredients h2,
  .recipe-details-instructions h2 {
    padding-left: 2rem;
  }

  .recipe-details-ingredients,
  .recipe-details-instructions {
    flex: none;
    margin: 0;
    padding: 0;
  }

  .recipe-details-container {
    padding: 1rem;
  }

  .recipe-details-image {
    margin-bottom: 1.5rem;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .recipe-details-top-right {
    padding: 0 1rem;
   }

  .recipe-details-category-container {
    gap: 0.5rem;
  }
}
