.header {
    background-image: url('../../../public/images/headerimg2.jpeg');
    background-size:cover;
    background-position: center;
    height: 500px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    width: 100vw;
    margin: 0;
    padding: 0;
}



.header__name {
    font-size: 100px; 
    font-family: 'Great Vibes',cursive;
    font-style: 'italic';
    color: #808000;
    margin: 0; 
}