.header {
    background-image: url('../../../images/headerimg2.jpeg');
    background-size:cover;
    background-position: center;
    height: 50vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header__name {
    font-size: 10vw; 
    font-family: 'Great Vibes',cursive;
    font-style: 'italic';
    color: #808000;
    margin: 0; 
}

@media (max-width: 600px) {
    .header {
        height: 20vh;
    }
    header__name {
        font-size:20vw;
    }
    
}