.header {
    background-image: url('../image/headimg2.jpeg');
    background-size:cover;
    background-position: center;
    height: 300px; /* 设置高度 */
    display: flex; /* 使用 Flexbox */
    align-items: center; /* 垂直居中 */
    justify-content: start; /* 水平居中 */
    text-align: center; /* 文字居中 */
    width: 100vw;
    margin: 0;
    padding: 0;
}



.header__name {
    font-size: 50px; /* 字体大小 */
    color: white;
    margin: 0; /* 清除默认外边距 */
}