
.navbar{
    display: flex;
    gap: 0.1em;
    background-color: #236e26;
}

.nav-desk{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;;
    padding: 1rem;
    margin: 0;
}

.search-input {
    width: 7rem;
    padding: 0.6em 1.2em;
    border-radius: 0.5rem;
    font-size: 1.2em;
    background-color: beige;
}

@media (min-width: 600px) {
    .search-input {
        width: 12rem;
    }
    
}


    
    
    
    
    
    

   
    

  

   





 


    
