.navbar{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;;
    padding: 0 1rem;
    margin:10px;
}

.category-button {
    background-color: #27AE60;
    font-size: 20px;
    font-weight: bold;
}

.search-button {
    padding: 15px;
    background-color: #27AE60;
}

input[type="text"] {
    width:  250px;
    padding: 15px;
    border-radius: 5px;
}