
.navbar{
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 0.1em;
    background-color: #236e26;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-desk{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;;
    padding: 0.5rem;
    margin: 0;
}



    
    
    
    
    
    

   
    

  

   





 


    
