.input-content {
    display: flex; 
    align-items: center; 
    position: relative;
    
}

.input-icon {
    display: flex;
    align-items:center;
    position: absolute;
    margin-right: 0.5rem;
    /* left: 2px; */
    padding: 5px;
    color: #888;
}

.clear-button {
    position: absolute;
    right: 1px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.remove-icon {
    color: #888
}

.search-input {
    width: 7rem;
    padding: 0.5em 2em;
    border-radius: 0.5rem;
    font-size: 1em;
    background-color: beige;
}

@media (min-width: 600px) {
    .search-input {
        width: 12rem;
    }
    
}

.dropdown-list {
    display:inline-block;
    
    position: absolute;
    z-index: 1000;
    width: 90%;
    margin:10px;
    margin-top:260px;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background: white;
    overflow-y: auto;
  }
  
  .dropdown-list li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  }