:root {
  font-family: "Lora", serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

main{
  width: 100%;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black
}

h1,h2,h3 {
  font-family: "Merriweather", serif;
}
button {
  color: black;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(255, 255, 240);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #b3b39a;
  transform: scale(1.05);
}


/***************************************
  Page content styling & responsiveness.
****************************************/
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.page__content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page__content-section{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #dddddd;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 240);
  /* background-color: rgb(223, 223, 200); */
  /* background-color: white; */
}
.page__content-section h2,
.page__content-section h4 {
  margin: 0.5rem 0;
}

.section-header{
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.section-header h2 {
  color:black;
  font-size: 2em;
}

@media screen and (min-width:1200px) {
  .page__content-section{
      width: 90%;
  }
}
@media screen and (min-width:1500px) {
  .page__content-section{
      width: 80%;
  }
}
@media screen and (min-width:1800px) {
  .page__content-section{
      width: 70%;
  }
}

@media screen and (min-width:2000px) {
  .page__content-section{
      width: 60%;
  }
}
